<div class="mt-4">
    <form [formGroup]="miFormulario" (ngSubmit)="enviar()">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <label>Asunto</label>
          <input type="email" class="form-control" formControlName="asunto">
        </div>
        <div class="form-group">
          <label>Texto</label>
          <textarea class="form-control" maxlength="250" (keyup)="onKey($event)" formControlName="textArea" rows="3"></textarea>
          <small class="text-muted"> {{ contador }} / 250</small>
        </div>
        <div class="form-group">
            <button [disabled]="miFormulario.invalid" type="submit" class="btn btn-outline-primary btn-lg btn-block">Enviar</button>
        </div>
    </form>
</div>